@model IEnumerable<ShoppingApp.Models.ShoppingList>

@{
    ViewData["Title"] = "Index";
}

<h1>Twoja lista zakupów</h1>

<p>
    <a asp-action="Create">Dodaj produkt</a>
</p>



@if (User.IsInRole("Parent"))
{
    <a asp-action="GenerateFamilyList" class="btn btn-primary">Generuj zbiorczą listę zakupów</a>
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
